@model FoodTruckDto

@{
	ViewData["Title"] = "EditFoodTruck";
	Layout = "~/Views/Shared/_Layout.cshtml";
}


@{
	var location = ViewBag.LocationSelect;
	var types = ViewBag.TypesSelect;
}

<div class="container">
	<h1>Edit Food Truck</h1>

	<hr />
	<div class="row">
		<div class="col-md-4">
			<form asp-action="EditFoodTruck">
				<partial name="partials/_CreateEdit" model="@Model" />
				<select asp-for="@Model.Type" asp-items="@types" name="typeId" class="form-select"></select>
				<br>
				<select asp-for="@Model.Location" asp-items="@location" name="locationId" class="form-select"></select>
				<a asp-controller="Location" asp-action="CreateLocation" class="btn btn-light">Add new location!</a>
				<br>
				<div class="form-group">
					<input type="submit" value="Save" class="btn btn-primary" />
					<a asp-action="Index" class="btn btn-light">Back to List</a>
				</div>
			</form>
		</div>
	</div>
</div>


