@using FoodTrakker.BusinessLogic.Models
@model FoodTrakkerWebAplication.Models.ViewModel.FoodTruckEventViewModel

@{
	ViewData["Title"] = "Index";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Food Trucks</h1>

<table class="table">
	<thead>
		<tr>
			<th>
				<label asp-for="Foodtrucks.First().Name"></label>
			</th>
			<th>
				<label asp-for="Foodtrucks.First().Type"></label>
			</th>
			<th>
				<label asp-for="Foodtrucks.First().Description"></label>
			</th>
			<th>
				<label asp-for="Foodtrucks.First().Location.City"></label>
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>

		@foreach (var foodTruck in Model.Foodtrucks)
		{
			<tr>
				<td>
					<a asp-controller="Owner" asp-action="DetailsFoodTruck" asp-route-id="@foodTruck.Id">@foodTruck.Name</a>
				</td>
				<td>
					@foodTruck.Type
				</td>
				<td>
					@foodTruck.Description
				</td>
				<td>
					@foodTruck.Location.City
				</td>
				<td>
					<div class="btn-group">
						<a asp-controller="Owner" asp-action="Edit" asp-route-id="@foodTruck.Id"
					   class="btn btn-primary mx-2"><i class="bi bi-pencil-square"></i>Edit</a>
						<a asp-controller="Owner" asp-action="DeleteFoodTruck" asp-route-id="@foodTruck.Id"
					   class="btn btn-danger mx-2"><i class="bi bi-trash"></i>Delete</a>
					</div>
				</td>
			</tr>
		}
	</tbody>
</table>



<h1>Events</h1>

<table class="table">
	<thead>
		<tr>
			<th>
				<label asp-for="Events.First().Name"></label>
			</th>
			<th>
				<label asp-for="Events.First().Description"></label>
			</th>
			<th>
				<label asp-for="Events.First().StartDate"></label>
			</th>
			<th>
				<label asp-for="Events.First().StartDate"></label>
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model.Events)
		{
			<tr>
				<td>
					<a asp-controller="Owner" asp-action="DetailsEvent" asp-route-id="@item.Id">@item.Name</a>
				</td>
				<td>
					@item.Description
				</td>
				<td>
					@item.StartDate
				</td>
				<td>
					@item.EndDate
				</td>
				<td>
					<div class="btn-group">
						<a asp-controller="Owner" asp-action="Edit" asp-route-id="@item.Id"
					   class="btn btn-primary mx-2"><i class="bi bi-pencil-square"></i>Edit</a>
						<a asp-controller="Owner" asp-action="DeleteEvent" asp-route-id="@item.Id"
					   class="btn btn-danger mx-2"><i class="bi bi-trash"></i>Delete</a>
					</div>
				</td>
			</tr>
		}
	</tbody>
</table>