@using Microsoft.AspNetCore.Mvc.TagHelpers
@model IEnumerable<FoodTruckDto>

@{
    ViewData["Title"] = "Home Page";
}
<partial name="_SearchBlockPartial"/>
<partial name="_SliderPartial" />

<div class="row container-fluid">
            @foreach (var item in Model)
            {
                    <div class="col-md-4 col-sm-6 border-primary mb-3">
                        <div class="card mb-3 FTCard" style="max-width: 560px;">
                            <img src="~/img/FoodTruckImg/@item.ImageName" class="card-img-top FTImage" alt="@item.Name" asp-append-version="true">
                            <div class="card-body">
                                <h5 class="card-title">@item.Name</h5>
                                <p class="card-text" style="min-height: 90px">@item.Description</p>
                                <p class="card-text" style="min-height: 40px">@item.Location.City</p>
                                <a asp-controller="FoodTrucks" asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary">Check it out!</a>
                            </div>
                        </div>
                    </div>
            }
        </div>
    </div>
</div>

