@model IEnumerable<FoodTruckDto>  


<table class="table">
		<thead>
		<tr>
			<th>
				<label asp-for="@Model.First().Name"></label>
			</th>
			<th>
				<label asp-for="@Model.First().Type"></label>
			</th>
			<th>
				<label asp-for="@Model.First().Description"></label>
			</th>
			<th></th>
		</tr>
		</thead>
		<tbody>

		@foreach (var foodTruck in Model)
		{
			<tr>
				<td>
					<a asp-controller="Owner" asp-action="DetailsFoodTruck" asp-route-id="@foodTruck.Id" class="FTNameButton">@foodTruck.Name</a>
				</td>
				<td>
					@foodTruck.Type
				</td>
				<td>
					@foodTruck.Description
				</td>
			</tr>
		}
		</tbody>
	</table>
