@model IEnumerable<FoodTrakker.Services.DTOs.ReviewDto>  


<table class="table">
		<thead>
		<tr>
			<th>
				<label asp-for="@Model.First().Title"></label>
			</th>
			<th>
				<label asp-for="@Model.First().Rating"></label>
			</th>
			<th>
				<label asp-for="@Model.First().Description"></label>
			</th>
			
			<th></th>
		</tr>
		</thead>
		<tbody>

		@foreach (var reviewDto in Model)
		{
			<tr>
				<td>
					@reviewDto.Title
				</td>
				<td>
					@*@reviewDto.Rating*@
			      @for (var i = 1; i <= reviewDto.Rating; i++)
            {
                <span class="starGlowN"></span>
            }
                  @for (var i = (reviewDto.Rating + 1); i <= 5; i++)
            {
                <span class="starFadeN"></span>
            }
				</td>
				<td>
					@reviewDto.Description
				</td>
				
			</tr>
		}
		</tbody>
	</table>
	

