@using Microsoft.AspNetCore.Mvc.TagHelpers
@model FoodTrakker.Services.DTOs.FoodTruckTypeDto

@{
    ViewData["Title"] = "Food Trucks";
}
<h1>Welcome to the world of mobile cuisine!</h1>
@*<div class="container">*@
    <div class="card col-3">
        <article class="card-group-item">
            <header class="card-header">
                <h6 class="title">Filters Menu </h6>
            </header>
            <div class="filter-content">
                <div class="card-body">
                    <div class="row col-8" id="sticky-sidebar" style="">
                        <form asp-controller="FoodTrucks" asp-action="Index" method="get">
                            <div class="input-group mb-3">
                                <input type="text" name="SearchString" class="form-control" placeholder="Food Trucks Name" aria-label="Food Trucks" aria-describedby="button-addon2" />
                                <input class="btn btn-primary" type="button" id="button-addon2;" type="submit" value="Filter" />
                            </div>
                        </form>
                        <form asp-controller="FoodTrucks" asp-action="Index" method="get">
                            <div class="input-group mb-3">
                                <input type="text" name="CitySearchString" class="form-control" placeholder="City" aria-label="City" aria-describedby="button-addon2" />
                                <input class="btn btn-primary" type="button" id="button-addon2;" type="submit" value="Filter" />
                            </div>
                        </form>
                        <form asp-controller="FoodTrucks" asp-action="Index" method="get">
                            <div class="input-group mb-3">
                                <input type="text" name="StreetSearchString" class="form-control" placeholder="Street" aria-label="Street" aria-describedby="button-addon2" />
                                <input class="btn btn-primary" type="button" id="button-addon2;" type="submit" value="Filter" />
                            </div>
                        </form>
                        <form asp-controller="FoodTrucks" asp-action="Index" method="get">
                            <div class="input-group mb-3">
                                <select class="form-control"
                                        @Html.DropDownListFor(m => m.FoodTrucks.FirstOrDefault().Type,
                                        new SelectList(Model.FoodTruckTypeName),
                                        "Choose type...")
                                </select>
                                <input class="btn btn-primary" type="submit" id="button-addon2;" value="Filter"/>
                            <div class="input-group-append">
                            </div>
                        </form>
                    </div>

                </div> 
            </div>
        </article> 
    </div>
@*</div>*@

@*<div class="container">*@
    <div class="row col container-fluid">
        @foreach (var item in Model.FoodTrucks)
        {
            <div class="col-md-3 col-sm-3 border-primary mb-3">
                <div class="card mb-3 FTCard" style="max-width: 340px; max-height:600px">
                    <img src="kawialeria klawiatury.png" class="card-img-top FTImage" alt="@item.Name">
                    <div class="card-body">
                        <h5 class="card-title">@item.Name</h5>
                        <p class="card-text" style="min-height: 90px">@item.Description</p>
                        <p class="card-text" style="min-height: 50px">From: @item.Location.City</p>
                        <td>
                            @Html.ActionLink("More info", "Details", new {id = item.Id}, new {@class="btn btn-primary"})
                        </td>
                    </div>
                </div>
            </div>
        }
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    @Html.Raw(@ViewBag.Alert)
                </div>
            </div>
        </div>
    </div>
@*</div>*@
