@using System.Collections;
@using FoodTrakker.Core.LinkingClasses
@model IEnumerable<MergedList>

@{
    ViewData["Title"] = "Index";
}

<h1>FoodTrucks List</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.foodTruck.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.foodTruck.Location.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.foodTruck.AvgRating)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.foodTruck.Type)
            </th>
        </tr>
    </thead>
    @*<tbody>

        
         @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.foodTruck.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.foodTruck.AvgRating)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.foodTruck.Location.City)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.foodTruck.Description)
                </td>
                
            </tr>
        }
    </tbody>*@
</table>