@*@using System.Collections;*@

@model IEnumerable<FoodTruckDto>

@{
    ViewData["Title"] = "Index";
}
@if (User.IsInRole(Roles.Administrator))
{ 
    <ul class="navbar-nav flex-grow-1">
        <li>
            <a class="nav-link m-2" asp-area="" asp-controller="Owner" asp-action="Index" style=""><i class="bi bi-display"></i> My Panel</a>
        </li>
    </ul>
}

<h1>Avalible Food Trucks</h1>
<br></br>

<table class="table table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.First().Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Location.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().AvgRating)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Description)
            </th>
        </tr>
    </thead>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AvgRating)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>

        </tr>
    }
</table>